<app-navbar (openEvent)="sidenav.opened ? sidenav.close() : sidenav.open()"></app-navbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <mat-button-toggle>
      <a (click)="sidenav.close()" routerLink="/job-offers" routerLinkActive="active" ariaCurrentWhenActive="page">Job Offers</a>
    </mat-button-toggle>
    <br>
    <mat-button-toggle>
      <a (click)="sidenav.close()" routerLink="/heroes" routerLinkActive="active" ariaCurrentWhenActive="page">Altra pagina</a>
    </mat-button-toggle>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
